{% extends "project/top_navbar.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block content %}

<!-- Add content in here -->
<section id="hero">
  <div class="container">
    <div class="title">
      <h1>MUZAK</h1>
      <h1>MUZAK</h1>
      <h1>MUZAK</h1>
      <h1>MUZAK</h1>
    </div>
    {% if user.is_authenticated %}
    <!-- <a href="{% url 'logout' %}">Log out</a> -->
    {% else %}
    <!-- <div class="">
      <a href="{% url 'social:begin' 'spotify' %}">Spotify</a>
    </div> -->
    {% endif %}
  </div>
</section>

{% endblock %}
