/* /////////////////////////////////////////////////////////////////////////////
Imports
///////////////////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Oleo+Script+Swash+Caps:wght@700');

/* /////////////////////////////////////////////////////////////////////////////
Overall
///////////////////////////////////////////////////////////////////////////// */
:root {
  /* Colors */
  --xanadu: #687864;
  --cg-blue: #31708E;
  --steel-blue: #5085A5;
  --pale-cerulean: #8FC1E3;
  --cultured: #F7F9FB;
  /* Font Families */
  --blocky: 'Kanit', sans-serif;
  --curvy: 'Oleo Script Swash Caps', cursive;
}

body {
  background-color: #000;
  color: var(--cultured);
  font-family: var(--curvy);
}

p {
  font-size: 18px;
}

/* /////////////////////////////////////////////////////////////////////////////
Navbar
///////////////////////////////////////////////////////////////////////////// */
#top-navbar {
  position: absolute;
}

.top-nav-menu {
  background-color: var(--steel-blue);
  color: var(--cultured);
  height: 4em;
}

.top-nav-menu a {
  color: inherit;
  font-size: 2em;
}

.top-nav-menu a:hover {
  color: var(--xanadu);
}

.navbar-toggler {
  color: var(--pale-cerulean);
}

/* /////////////////////////////////////////////////////////////////////////////
Hero
///////////////////////////////////////////////////////////////////////////// */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: url(https://wallpapercave.com/wp/wp1994312.jpg) center center; */
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero .container {
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  padding-top: 4em;
  padding-bottom: 3em;
  /* height: 60%; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#hero .title {
  font-family: var(--blocky);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 100%;
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(219deg,
      var(--xanadu) 19%,
      transparent 19%, transparent 20%,
      var(--cg-blue) 20%, var(--cg-blue) 39%,
      transparent 39%, transparent 40%,
      var(--steel-blue) 40%, var(--steel-blue) 59%,
      transparent 59%, transparent 60%,
      var(--pale-cerulean) 60%, var(--pale-cerulean) 79%,
      transparent 79%, transparent 80%,
      var(--cultured) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#hero .title h1 {
  font-size: 23vh;
  font-weight: 900;
  line-height: 80%;
}

/* /////////////////////////////////////////////////////////////////////////////
Footer
///////////////////////////////////////////////////////////////////////////// */
#footer {
  position: absolute;
  width: 100%;
  height: 3em;
  bottom: 0px;
  background: var(--xanadu);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* /////////////////////////////////////////////////////////////////////////////
Profile
///////////////////////////////////////////////////////////////////////////// */
.animation-wrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  width: 80%;
  height: 60vh;
  -webkit-transform: translate(-50%, -50%) rotate3d(1, -0.5, -0.5, 45deg);
  transform: translate(-50%, -50%) rotate3d(1, -0.75, -0.5, 45deg);
}

.music-notes svg {
  position: absolute;
  top: 60%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.car-wrapper svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.25);
  transform: translate(-50%, -50%);
}

.music-notes path {
  fill: none;
}

.music-note {
  offset-path: path('M 250 100 C 130 8 70 100 0 0 S -112 -103 -163 -137');
  animation: move 8s infinite ease-in-out;
  font-size: 70px;
  border-radius: 0%;
  position: absolute;
  top: 20%;
  left: 16%;
  /* margin-left: -150px;
  margin-top: -75px; */
  transform: rotate(180deg);
}

@keyframes move {
  0% {
    offset-distance: 0%;
    filter: blur(0);
    opacity: 1;
  }

  100% {
    offset-distance: 100%;
    filter: blur(7px);
    opacity: 0.1;
  }
}
@keyframes small-bump {
  0%,15%,17%,100% {
    transform: translateY(0);
  }
  16% {
    transform: translateY(-3px);
  }
}

/* .car-tires svg {
  position: absolute;
  top: 60%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
.car-tires path {
  fill: #444;
  stroke: #000;
  animation: small-bump 10s linear infinite;
}
.tire-rim path {
  fill: silver;
  animation: small-bump 10s linear infinite;
}
.car-body path {
  fill: silver;
  stroke: #234;
}
.car-windows path {
  fill: black;
  stroke: #567;
}
.headlight path {
  fill: yellow;
  stroke: #987;
}
.taillight path {
  fill: red;
  stroke: #456;
}
